div{
  box-sizing: border-box;
}
#ProfileHead h3{
  margin-bottom: 0px;
}
.ProfilePic{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family:"Corbel";
  overflow: hidden;
  cursor:pointer;
  background:white;
}
#ProfileHead .ProfilePic{
  border:3px solid rgb(0,200,0);
  width:120px;
  height:120px;
  border-radius:60px;
  font-size: 15px;
}
.ProfilePic img{
  width:100%;
  position: relative;
}
.ProfilePic>.LoadingImg{
  height:40px;
  position: static;
}
.ProfilePic>.AvatarSvg{
  height:50%;
}
.EditBtn,.AddBtn{
  border:2px solid rgb(0,200,0);
  width:35px;
  height:35px;
  border-radius: 100%;
  background: white;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  filter: grayscale(1);
  margin-left:5px;
}
.EditBtn img{
  height:17px;
}
.AddBtn img{
  height:25px;
}
.EditBtn:hover,.AddBtn:hover{
  filter: grayscale(0);
}
#ProfileHead{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
input{
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  border-radius: 0px;
  outline:0px;
}
input[type='file']{
  display: none;
}
.disabled{
  border-color:rgb(200,200,200);
}
#ProfilePage .ProfilePicOptions{
  margin-top:5px;
  border:1px solid rgb(0,200,0);
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(0,200,0);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition-property: height;
  height: 180px;
  width:100%;
  font-family: "Calibri Bold";
  overflow: hidden;
}
#ProfilePage .ProfilePicOptions.hidden{
  height:0px;
  margin: 0px;
  opacity: 0;
  border: 0px;
  padding:0px;
}
#ProfilePage .ProfilePicOptions label{
  height:40px;
  padding:5px;
  border:1px solid rgb(150,150,150);
  margin-top:5px;
}
#ProfilePage .ProfilePicOptions div:nth-child(1) img{
  height:20px;
  float: right;
}
#ProfilePage .ProfilePicOptions label{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  cursor:pointer;
}
#ProfilePage .ProfilePicOptions label img{
  height:20px;
  width:20px;
  margin-right: 10px;
}
#ProfilePage>div{
  margin-bottom: 15px;
  padding: 10px;
  border:1px solid rgb(200,200,200);
}
#ProfilePage>div h2:first-of-type{
  margin: 0px;
}
.locked{
  filter: grayscale(1);
  opacity: 0.7;
  cursor:not-allowed !important;
}
.Tip{
  padding:5px;
  background:rgba(0,200,0,0.2);
  display: block !important;
  margin:5px 0px 10px 0px;
  font-family: "Calibri";
}
.Tip.hidden{
  display: none !important;
}
.Tip h3, .Tip h4{
  margin: 0px; 
  display:inline;
  font-family: "Calibri Bold";
}
#ProfileHead>div:nth-child(1){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction:row;
  align-items: flex-end;
}
#ProfilePage .ProfilePic{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
#ProfileHead .EditProfilePic{
  position: relative;
  right:40px;
}
#ProfileHead .EditProfilePic .EditBtn{
  margin:0px;
}

.AdjustPic{
  width:40%;
  height:50%;
  border:2px solid rgb(0,200,0);
  position: fixed;
  top:30%;
  left:30%;
  background: white;
  z-index: 3;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
    transition:0.5s;
  -moz-transition:0.5s;
  -webkit-transition:0.5s;
  -ms-transition:0.5s;
}
.AdjustPic.hidden{
  top:-100% !important;
}
.AdjustPic input{
  height:40px !important;
  width:100px;
  color:rgb(0,200,0);
  background: white;
  border:1px solid rgb(0,200,0);
  font-family: 'Corbel Bold';
  font-size:100%;
  cursor: pointer;
}
.AdjustPic input:hover{
  background: rgb(0,200,0);
  color:white;
}
.AdjustPic div:nth-child(2){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  column-gap:5px;
}
.AdjustPic .Pic{
  width:240px;
  height:240px;
  border:3px solid rgb(0,200,0);
  border-radius: 120px;
  overflow: scroll;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.AdjustPic .Pic .LoadingImg{
  height:50px;
}
.AdjustPic .Pic img{
  width:100%;
}
.AdjustPic .Pic::-webkit-scrollbar{
  display: none;
}
.AdjustPic .Pic::-moz-scrollbar{
  display: none;
}
.AdjustPic .Pic::scrollbar{
  display: none;
}

.SeeMore{
  margin: 0px;
  color:rgb(0,200,0);
  font-family: "Corbel Bold";
  background: white;
  position: relative;
  top:135px;
  width:100%;
  cursor: pointer;
  z-index: 2;
}
.SeeMore.hidden{
  opacity: 0;
  display: block;
  width:0px;
  height:17px;
  right:100%;
}

#ProfilePage textarea{
  width:100%;
  height:200px;
  padding:10px;
  font-family:"Calibri";
  font-size:17px;
  border:1px solid rgb(0,200,0);
  outline: 0px;
  resize: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  margin-top:5px;
}
#ProfilePage textarea:focus{
  border:1px solid rgb(0,200,0);
}
#BusDescription input{
  height:30px;
  margin-top:5px;
  font-family: "Corbel Bold";
  color:rgb(0,200,0);
  background:white;
  border:1px solid rgb(0,200,0);
}
#BusDescription input:hover{
  cursor: pointer;
  color:white;
  background:rgb(0,200,0);
}
#BusDescription input.locked{
  cursor: not-allowed;
  background:white;
  color:rgb(0,200,0);
}
#BusDescription>div{
  transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}
#BusDescription>div:nth-child(3){
  height:260px;
}
#BusDescription>.hidden{
  height:0px !important;
  overflow: hidden;
  display: block;
}
#BusDescriptionWrapper .LoadingImg{
  height: 30px;
}
#BusDescriptionWrapper{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 154px;
}
#BusDescriptionWrapper.loaded{
  display: block;
}
#BusDescriptionText{
  white-space: pre-wrap;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-family: 'Calibri';
}
.WordCount{
  font-family: "Calibri"
}

.close{
  cursor: pointer;
  height:20px;
  width:20px;
  float:right;
  clear: both;
  align-self: flex-end;
}
#Products_Services input, #Products_Services select{
  height:40px;
  border-radius: 0px;
  border:1px solid rgb(0,200,0);
  font-size:17px;
  font-family:"Calibri";
  appearance:none;
  -moz-appearance:none;
  padding-left: 10px;
  box-sizing: border-box;
}
#Products_Services h4{
  margin:0px;
}
#Products_Services>div{
  margin-top:10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition-property: all;
}
#Products_Services>div.hidden{
  height:0px !important;
  opacity: 0;
  margin: 0px !important;
  padding: 0px !important;
  display: block;
  overflow: hidden;
}
#Products_Services>div:nth-child(1){
  font-family: "Calibri";
  color:rgb(140,140,140);
}

#Products_Services>div:nth-child(3)>div:nth-child(1),#Products_Services>div:nth-child(4)>div:nth-child(1){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap:5px;
  font-family: "Calibri";
  border:1px solid rgb(0,200,0);
  padding: 10px;
}
#Products_Services>#Products_ServicesOptions{
  padding: 10px;
  border:1px solid rgb(0,200,0);
  color:rgb(0,200,0);
  height: 180px;
  width:100%;
  overflow: hidden;
}
#Products_Services>#Products_ServicesOptions>div{
  height:50px;
}
#Products_Services>#Products_ServicesOptions>div:nth-child(1){
  height:25px;
}
#Products_Services>#Products_ServicesOptions>div:nth-child(1) img{
  float: right;
  height:20px;
}
#Products_Services>#Products_ServicesOptions>div~div{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:1px solid rgb(150,150,150);
  padding:5px;
  margin-bottom: 10px;
  cursor: pointer;
}
#Products_Services>#Products_ServicesOptions>div~div img{
  width:25px;
  height: 25px;
  margin-right: 5px;
}
#Products_Services>div:nth-child(2){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

#AddProduct, #AddService{
  border:1px solid rgb(0,200,0);
  padding:5px;
  width:100%;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
#AddProductPic, #AddService .ServicePic{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:100%;
}
#AddProductPic label,#AddService .ServicePic label{
  height:120px;
  width:120px;
  border:2px dashed rgb(0,200,0);
  padding:5px;
  cursor:pointer;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
  margin-right:10px;
}
#AddProductPic label::-webkit-scrollbar,#AddService .ServicePic label::-webkit-scrollbar{
  display: none;
}
#AddProductPic label.loadedHeight,#AddService .ServicePic label.loadedHeight{
  cursor: default;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px;
  border:2px solid rgb(0,200,0)
}

#AddProductPic label.loadedWidth,#AddService .ServicePic label.loadedWidth{
  cursor: default;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px;
  border:2px solid rgb(0,200,0)
}
#AddProductPic label .AddBtn,#AddService .ServicePic label .AddBtn{
  height:30px;
  width:30px;
}
#AddProductPic label>img:nth-child(1),#AddService .ServicePic label>img:nth-child(1){
  width:100%;
  position: relative;
}
#AddProductPic label[class*='loaded']>img:nth-child(1),#AddService .ServicePic label>img:nth-child(1){
  min-width: 100% !important;
}
#AddProductPic label>.close,#AddService .ServicePic label>.close{
  align-self: flex-start;
  background: white;
  position: relative;
  right:28px;
  top:6px;
  padding:5px;
  border-radius: 100%;
  height: 15px;
  width:15px;
  box-shadow: 0px 0px 3px black;
}
#AddProductPic label.loadedWidth>.DropMenu, .AddServicePic label.loadedWidth>.DropMenu{
  position: relative;
  right:28px;
  bottom:35px;
  filter:drop-shadow(0px 0px 3px black);
  height:25px;
  cursor: pointer
}
#AddProductPic label.loadedHeight>.DropMenu, .AddServicePic label.loadedHeight>.DropMenu{
  position: relative;
  right:28px;
  top:6px;
  filter:drop-shadow(0px 0px 3px black);
  height:25px;
  cursor: pointer
}

#AddProductPic>div, #AddService .ServicePic>div{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#AddProductPic>div>.AddProductPicMenu, #AddService .ServicePic>div>.AddProductPicMenu{
  border:1px solid rgb(0,200,0);
  max-width:120px;
  padding:5px;
  height:90px;
  margin-top:5px;
}
#AddProductPic>div>.AddProductPicMenu>div, #AddService .ServicePic>div>.AddServicePicMenu>div{
  padding:5px;
  margin:5px;
  font-family:"Calibri Bold";
  cursor: pointer;
}
#AddProductPic>div>.AddProductPicMenu>div:nth-child(1), #AddService .ServicePic>div>.AddServicePicMenu>div:nth-child(1){
  color:rgb(255,0,0);
  border:1px solid rgb(255,0,0);
}
#AddProductPic>div>.AddProductPicMenu>div:nth-child(2), #AddService .ServicePic>div>.AddServicePicMenu>div:nth-child(2){
  border:1px solid rgb(0,200,0);
  color:rgb(0,200,0);
}
#AddProductPic>div>.AddProductPicMenu>div:nth-child(1):hover, #AddService .ServicePic>div>.AddServicePicMenu>div:nth-child(1):hover{
  background:rgb(255,0,0);
  color:white;
}
#AddProductPic>div>.AddProductPicMenu>div:nth-child(2):hover, #AddService .ServicePic>div>.AddServicePicMenu>div:nth-child(2):hover{
  background:rgb(0,200,0);
  color:white;
}
#AddProductPic>div>div, #AddService .ServicePic>div>div{
  transition:0.5s;
  overflow: hidden
}
#AddProductPic>div>div.hidden, #AddService .ServicePic>div>div.hidden{
  height:0px;
  border:0px;
  margin: 0px;
  display: block;
  padding:0px;
}
.AddProductPicOptions{
  width:120px;
  margin-top: 5px;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}
.AddProductPicOptions img{
  height:25px;
  width:25px;
  cursor:pointer;
  border-radius: 100%;
  background: white;
  padding:4px;
  box-sizing: border-box;
}
.AddProductPicOptions img:nth-child(1){
  border:2px solid rgb(255,0,0);
}
.AddProductPicOptions img:nth-child(2){
  border:2px solid rgb(0,200,0);
}

#AddProductName{
  width:100%;
}

#AddProductPrice{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width:100%;
}
#AddProductPrice h3:nth-child(1){
  margin-bottom: 0px;
}
#AddProductPrice>div:not(.error){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  min-width:70%;
}
#AddProductPrice .error{
  margin: 0px;
  position: relative;
  bottom:10px;
  align-self: flex-end;
  width:80%;
}
#AddProductPrice label{
  height:48px;
  min-width:80%;
  border:1px solid rgb(0,200,0);
  padding:5px;
}
#AddProductPrice input,#AddProductPrice select{
  width:79%;
  border:0px;
}
#AddProductPriceType{
  width:100%;
  border:0px;
}
#AddProductPrice input:focus,#AddProductPrice select:focus{
  outline: 0px;
}
#AddProductPrice div.hidden{
  display: none;
}

#AddProductVariation{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width:100%;
}
#AddProductVariation .hidden{
  display: none !important;
}
#AddProductVariation div{
  width:100%;
  
}
#AddProductVariation .error{
  margin: 0px;
  position: relative;
  bottom:10px;
  align-self: flex-end;
  width:80%;
}
#AddProductVariation>div:first-child{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin:20px 0px 5px 0px;
}
#AddProductVariation div:first-child h3{
  margin: 0px 5px 0px 0px;
}
#AddProductVariation>div>div{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
#AddProductVariation>div:last-child>div:last-child{
  display: block;
}
#AddProductVariation input[type='text']{
  outline:0px;
  min-width:80%;
  max-width:80%;
  height:48px;
}
#AddProductVariation input[type='button']{
  color:rgb(0,200,0);
  background: white;
  font-family:'Calibri Bold';
  cursor:pointer;
  margin-right: 5px;
}
#AddProductVariation input[type='button']:hover{
  color:white;
  background:rgb(0,200,0);
}
#AddProductVariation .AddBtn{
  width:25px;
  height:25px;
}
#ProductVariationAdder{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
#AddProductVariation>div:nth-child(2){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  font-family: "Calibri";
}
#AddProductVariation>div:nth-child(2)>div>div:nth-child(1){
  background:white;
  color:rgb(255,0,0);
  padding:5px;
  border:1px solid rgb(255,0,0);
  cursor: pointer;
  width: auto;
}
#AddProductVariation>div:nth-child(2)>div>div:nth-child(1):hover{
  background:rgb(255,0,0);
  color:white;
  padding:5px;
}
#AddProductVariation>div:nth-child(2) div{
  width:auto;
}
#AddProductVariation>div:nth-child(2)>div{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding:5px;
  border:1px solid rgb(0,200,0);
}
#AddProductVariation>div:nth-child(2)>div>div{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content:center!important;
  width:33%;
}
#AddProductVariation>div:nth-child(2)>div>div:last-child{
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
}
#AddProductVariation>div:nth-child(2)>div>div:last-child>div{
  border:1px solid rgb(0,200,0);
  padding:5px;
  color:rgb(0,200,0);
  margin:2px;
  word-break: break-all
}

#AddProductAvailability .error{
  margin: 0px 0px 10px 0px;
  position: relative;
  bottom:10px;
  float: right;
  width:70%;
}
#AddProductAvailability>div:not(.error){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width:100%;
}
#AddProductAvailability>div:nth-child(2)>input,#AddProductAvailability>div:nth-child(4)>label{
  min-width:70%;
}
#AddProductAvailability>div:nth-child(4)>label[for="AddProductLocationSelector"]{
  min-width:70%;
  max-width: 70%;
  border:1px solid rgb(0,200,0);
  padding:5px;
}
#AddProductAvailability>div:nth-child(4)>label>input{
  border:0px;
  width:100%;
  height:30px;
}
#AddProductAvailability>div:nth-child(4)>label>div{
  border:1px solid rgb(0,200,0);
  display:inline-flex;
  align-items: center;
  flex-wrap: wrap;
  padding:5px;
  color:rgb(0,200,0);
  margin-right: 5px;
  margin-bottom: 5px;
}
#AddProductAvailability>div:nth-child(4)>label .close{
  height:15px;
  width:15px;
  margin-left:5px;
}
#AddProductLocations{
  float:right;
  margin-top:10px;
  width:70% !important;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
#AddProductLocations>div{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
#AddProductLocations>div.hidden{
  display: none;
}
#AddProductBtn{
  width:40%;
  align-self: center;
  color:rgb(0,200,0);
  background:white;
  margin-top:20px;
}
#AddProductBtn:hover{
  color:white;
  background: rgb(0,200,0);
}

#AboutOwner>div{
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
}
#AboutOwner>div:nth-child(2){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
#AboutOwner .ProfilePic{
  height:60px;
  width:60px;
  border:2px solid rgb(0,200,0);
  border-radius:30px;
  font-size: 100%;
}
#AboutOwner .ProfilePic .LoadingImg{
  height:20px;
}
#AboutOwner .EditProfilePic{
  position: relative;
  right:25px;
}
#AboutOwner .EditProfilePic .EditBtn{
  height: 30px;
  width:30px;
}
#AboutOwner .EditProfilePic .EditBtn img{
  height:15px
}
#AboutOwner #fullname>h3, #AboutOwner #email>h3{
  margin: 0px
}
#AboutOwner>div:nth-child(6){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:15px;
}
#AboutOwner>div:nth-child(6) h3{
  margin: 0px;
}
#AboutOwner>div:nth-child(6) .EditBtn{
  height:30px;
  width:30px;
}
#AboutOwner>div:nth-child(6) .EditBtn img{
  height:15px;
}
#AboutOwner>div:nth-child(7){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#AboutOwner>div:nth-child(8){
  height:260px;
  overflow: hidden;
}
#AboutOwner>div:nth-child(8).hidden{
  display: block;
}
#AboutOwner>.hidden{
  height:0px !important;
  overflow: hidden;
}
#AboutOwner input{
  height:30px;
  margin-top:5px;
  font-family: "Corbel Bold";
  color:rgb(0,200,0);
  background:white;
  border:1px solid rgb(0,200,0);
}
#AboutOwner input:hover{
  cursor: pointer;
  color:white;
  background:rgb(0,200,0);
}
#AboutOwner input.locked{
  cursor: not-allowed;
  background:white;
  color:rgb(0,200,0);
}
#Uname,#CreationTime,#email{
  color:rgb(150,150,150)
}
#Uname,#email{
  font-family: "Corbel";
}
#CreationTime{
  font-family: "Calibri";
}
#ProfilePage>div:not(#ProfileHead)>div:nth-child(1){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width:700px){
  #ProfileHead{
    width:100%;
    justify-content: space-between;
  }
  .AdjustPic{
    width:98%;
    height:70%;
    left:1%;
    top:20%
  }
  #AddProduct, #AddService{
    width:100%;
  }
  #AddProductPic, #AddService .ServicePic{
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width:100%;
  }
  #AddProductPic label,#AddService .ServicePic label{
    min-height: 110 ;
    max-height: 110;
    min-width: 110;
    max-width: 110;
    font-size: 14px;
  }
  #AddProductPic>div>div, #AddService .ServicePic>div>div{
    width:110px;
  }
  #AddProductPic label::-webkit-scrollbar,#AddService .ServicePic label::-webkit-scrollbar{
    display: none;
  }
  #AddProductPrice>div{
    width:100%;
  }
  #AddProductPrice label{
    min-width:70%;
    max-width:70%;
  }
  #AddProductPrice .error, #AddProductVariation .error{
    width:70%;
  }
  #AddProductVariation input[type='text']{
  outline:0px;
  min-width:70%;
  max-width:70%;
  height:48px;
}
  #AddProductBtn{
    width:100%;
  }
}
@media screen and (max-width:700px) and (orientation:landscape){
  #ProfileHead{
    width:100%;
  }
  .AdjustPic{
    width:80%;
    height:90%;
    left:10%;
    top:5%
  }
  .AdjustPic .Pic{
    width:150px;
    height:150px;
  }
 #AddProductVariation>div:nth-child(2)>div{
    align-items:center;
  }
}
@media screen and (min-width:700px) and (max-width:999px){
  .AdjustPic{
    width:50%;
    height:90%;
    top:5%;
    left:25%;
  }
  #alert{
    width:60%;
    left:20%;
  }
}
@media screen and (min-width:700px) and (max-width:999px) and (min-height:700px){
  .AdjustPic{
    height:50%;
    width:60%;
    top:20%;
    left:20%;
  }
}
br {
  
}
