div{
  box-sizing: border-box;
}
#ProfileHead h3{
  margin-bottom: 0px;
}
.ProfilePic{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family:"Corbel";
  overflow: hidden;
  cursor:pointer;
  background:white;
}
#ProfileHead .ProfilePic{
  border:3px solid rgb(0,200,0);
  width:120px;
  height:120px;
  border-radius:60px;
  font-size: 15px;
}
.ProfilePic img{
  width:100%;
  position: relative;
}
.ProfilePic>.LoadingImg{
  height:40px;
  position: static;
}
.ProfilePic>.AvatarSvg{
  height:50%;
}
.EditBtn,.AddBtn{
  border:2px solid rgb(0,200,0);
  width:35px;
  height:35px;
  border-radius: 100%;
  background: white;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  filter: grayscale(1);
}
.EditBtn img{
  height:17px;
}
.AddBtn img{
  height:20px;
}
.EditBtn:hover,.AddBtn:hover{
  filter: grayscale(0);
}
#ProfileHead{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

input[type='file']{
  display: none;
}
#ProfilePage .ProfilePicOptions{
  margin-top:5px;
  border:1px solid rgb(0,200,0);
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(0,200,0);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition-property: height;
  height: 200px;
  width:100%;
}
#ProfilePage .ProfilePicOptions.hidden{
  height:0px;
  margin: 0px;
  opacity: 0;
  border: 0px;
  padding:0px;
  overflow: hidden;
}
#ProfilePage .ProfilePicOptions label{
  height:40px;
  padding:5px;
  border:1px solid rgb(150,150,150);
  margin-top:5px;
}
#ProfilePage .ProfilePicOptions div:nth-child(1) img{
  height:20px;
  float: right;
}
#ProfilePage .ProfilePicOptions label{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  cursor:pointer;
}
#ProfilePage .ProfilePicOptions label img{
  height:20px;
  width:20px;
  margin-right: 10px;
}
#ProfilePage>div{
  margin-bottom: 15px;
  padding: 10px;
  border:1px solid rgb(200,200,200);
}
#ProfilePage>div h2:first-of-type{
  margin: 0px;
}
.locked{
  filter: grayscale(1);
  opacity: 0.7;
  cursor:not-allowed;
}

#ProfileHead>div:nth-child(1){
  display: inherit;
  flex-direction:row;
  align-items: flex-end;
}
#ProfilePage .ProfilePic{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
#ProfileHead .EditProfilePic{
  position: relative;
  right:40px;
}
#ProfileHead>label:first-of-type{
  position: relative;
  bottom: 25px;
  left:95px;
}

.AdjustPic{
  width:40%;
  height:50%;
  border:2px solid rgb(0,200,0);
  position: fixed;
  top:30%;
  left:30%;
  background: white;
  z-index: 3;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
    transition:0.5s;
  -moz-transition:0.5s;
  -webkit-transition:0.5s;
  -ms-transition:0.5s;
}
.AdjustPic.hidden{
  top:-100% !important;
}
.AdjustPic input{
  height:40px !important;
  width:100px;
  color:rgb(0,200,0);
  background: white;
  border:1px solid rgb(0,200,0);
  font-family: 'Corbel Bold';
  font-size:100%;
  cursor: pointer;
}
.AdjustPic input:hover{
  background: rgb(0,200,0);
  color:white;
}
.AdjustPic div:nth-child(2){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  column-gap:5px;
}
.AdjustPic .Pic{
  width:240px;
  height:240px;
  border:3px solid rgb(0,200,0);
  border-radius: 120px;
  overflow: scroll;
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.AdjustPic .Pic .LoadingImg{
  height:50px;
}
.AdjustPic .Pic img{
  width:100%;
}
.AdjustPic .Pic::-webkit-scrollbar{
  display: none;
}
.AdjustPic .Pic::scrollbar{
  display: none;
}

#ProfilePage textarea{
  width:100%;
  height:200px;
  padding:10px;
  font-family:"Calibri";
  font-size:17px;
  border:1px solid rgb(0,200,0);
  resize: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  margin-top:5px;
}
#ProfilePage textarea:focus{
  border:1px solid rgb(0,200,0);
}
#BusDescription input{
  height:30px;
  margin-top:5px;
  font-family: "Corbel Bold";
  color:rgb(0,200,0);
  background:white;
  border:1px solid rgb(0,200,0);
}
#BusDescription input:hover{
  cursor: pointer;
  color:white;
  background:rgb(0,200,0);
}
#BusDescription input.locked{
  cursor: not-allowed;
  background:white;
  color:rgb(0,200,0);
}
#BusDescription>div{
  transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
#BusDescription>div:nth-child(3){
  height:260px;
}
#BusDescription>.hidden{
  height:0px !important;
  overflow: hidden;
  display: block;
}
#BusDescription>div:nth-child(2) .LoadingImg{
  height: 30px;
}
#BusDescription>div:nth-child(2){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  column-gap: 10px;
  white-space: pre-wrap;
}

.WordCount{
  font-family: "Calibri"
}

.close{
  cursor: pointer;
  height:25px;
  width:25px;
  float:right;
  clear: both;
  align-self: flex-end;
}
#Products_Services input[type='text']{
  height:40px;
  border-radius: 0px;
  border:1px solid rgb(0,200,0);
  padding:10px;
  font-size:17px;
  font-family:"Corbel";
  width:100%;
}
#Products_Services h4{
  margin:0px;
}
#Products_Services>div{
  margin-top:10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition-property: all;
}
#Products_Services>div.hidden{
  height:0px !important;
  opacity: 0;
  margin: 0px !important;
  padding: 0px !important;
  display: block;
  overflow: hidden;
}
#Products_Services>div:nth-child(1){
  font-family: "Calibri";
  color:rgb(140,140,140);
}
#Products_Services>div:nth-child(2)>div:nth-child(1),#Products_Services>div:nth-child(3)>div:nth-child(1){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap:5px;
  font-family: "Calibri";
  border:1px solid rgb(0,200,0);
  padding: 10px;
}
#Products_Services>#Products_ServicesOptions{
  padding: 10px;
  border:1px solid rgb(0,200,0);
  color:rgb(0,200,0);
  height: 180px;
  width:100%;
  overflow: hidden;
}
#Products_Services>#Products_ServicesOptions>div{
  height:50px;
}
#Products_Services>#Products_ServicesOptions>div:nth-child(1){
  height:25px;
}
#Products_Services>#Products_ServicesOptions>div:nth-child(1) img{
  float: right;
  height:20px;
}
#Products_Services>#Products_ServicesOptions>div~div{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:1px solid rgb(150,150,150);
  padding:5px;
  margin-bottom: 10px;
  column-gap: 5px;
  cursor: pointer;
}
#Products_Services>#Products_ServicesOptions>div~div img{
  width:25px;
}
#Products_Services #AddProduct, #Products_Services #AddService{
  border:1px solid rgb(0,200,0);
  padding:10px;
  width:100%;
}
#Products_Services #AddProduct .ProductPic, #Products_Services #AddService .ServicePic{
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap:10px;
}
#Products_Services #AddProduct .ProductPic>div,#Products_Services #AddService .ServicePic>div{
  height:120px;
  width:120px;
  border:2px dashed rgb(0,200,0);
  margin-bottom: 10px;
  cursor:pointer;
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#Products_Services #AddProduct .ProductPic>div .AddBtn,#Products_Services #AddService .ServicePic>div .AddBtn{
  filter: none;
}
#Products_Services #AddProduct .ProductPic>div:hover, #Products_Services #AddService .ServicePic>div:hover{
  background:rgb(0,200,0);
  color:white;
}

#AboutOwner>div{
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
}
#AboutOwner>div:nth-child(2){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
#AboutOwner .ProfilePic{
  height:60px;
  width:60px;
  border:2px solid rgb(0,200,0);
  border-radius:30px;
  font-size: 100%;
}
#AboutOwner .ProfilePic .LoadingImg{
  height:20px;
}
#AboutOwner .EditProfilePic{
  position: relative;
  right:20px;
}
#AboutOwner .EditProfilePic .EditBtn{
  height: 30px;
  width:30px;
}
#AboutOwner .EditProfilePic .EditBtn img{
  height:15px
}
#AboutOwner #fullname>h3, #AboutOwner #email>h3{
  margin: 0px
}
#AboutOwner>div:nth-child(6){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap:5px;
  margin-top:15px;
}
#AboutOwner>div:nth-child(6) h3{
  margin: 0px;
}
#AboutOwner>div:nth-child(6) .EditBtn{
  height:30px;
  width:30px;
}
#AboutOwner>div:nth-child(6) .EditBtn img{
  height:15px;
}
#AboutOwner>div:nth-child(7){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 5px;
}
#AboutOwner>div:nth-child(8){
  height:260px;
  overflow: hidden;
}
#AboutOwner>div:nth-child(8).hidden{
  display: block;
}
#AboutOwner>.hidden{
  height:0px !important;
  overflow: hidden;
}
#AboutOwner input{
  height:30px;
  margin-top:5px;
  font-family: "Corbel Bold";
  color:rgb(0,200,0);
  background:white;
  border:1px solid rgb(0,200,0);
}
#AboutOwner input:hover{
  cursor: pointer;
  color:white;
  background:rgb(0,200,0);
}
#AboutOwner input.locked{
  cursor: not-allowed;
  background:white;
  color:rgb(0,200,0);
}
#Uname,#CreationTime,#email{
  color:rgb(150,150,150)
}
#Uname,#email{
  font-family: "Corbel";
}
#CreationTime{
  font-family: "Calibri";
}
#ProfilePage>div:not(#ProfileHead)>div:nth-child(1){
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
@media screen and (max-width:700px){
  #ProfileHead{
    width:100%;
    justify-content: space-between;
  }
  .AdjustPic{
    width:98%;
    height:70%;
    left:1%;
    top:20%
  }
}
@media screen and (max-width:700px) and (orientation:landscape){
  #ProfileHead{
    width:100%;
  }
  .AdjustPic{
    width:100%;
    height:75%;
    left:15%;
    top:20%
  }
  .AdjustPic .Pic{
    width:150px;
    height:150px;
  }
}
@media screen and (min-width:700px) and (max-width:999px){
  .AdjustPic{
    width:50%;
    height:90%;
    top:5%;
    left:25%;
  }
}
@media screen and (min-width:700px) and (max-width:999px) and (min-height:700px){
  .AdjustPic{
    height:50%;
    width:60%;
    top:20%;
    left:20%;
  }
}