.disclaimer{
  display: none;
}
@font-face{
  font-family:'Calibri';
  src:
    url("../Fonts/Calibri.ttf") format('truetype'),    
    url("../Fonts/Calibri.woff") format("woff"),
    url("../Fonts/Calibri.woff2") format("woff2"),
    url("../Fonts/Calibri.eot") format("embedded-opentype");
}
@font-face{
  font-family:'Calibri Bold';
  src:
    url("../Fonts/Calibri Bold.ttf") format("truetype"),
    url("../Fonts/Calibri Bold.woff") format("woff"),
    url("../Fonts/Calibri Bold.woff2") format("woff2"),
    url("../Fonts/Calibri Bold.eot") format("embedded-opentype"),
    url("../fonts/Calibri Bold.otf") format("opentype");
}
@font-face{
  font-family:"Corbel";
  src:
    url('../Fonts/Corbel.ttf') format('truetype'),
    url('../Fonts/Corbel.woff') format('woff'),
    url('../Fonts/Corbel.woff2') format('woff2'),
    url('../Fonts/Corbel.eot') format('embedded-opentype'),
    url('../Fonts/Corbel.otf') format('opentype');
    
}
@font-face{
  font-family:"Corbel Bold";
  src:
    url('../Fonts/Corbel Bold.ttf') format('truetype');
}
*{
  font-family:"Corbel"
}
h1,h2,h3,h4,h5{
  color:rgb(0,200,0);
  font-family: "Corbel Bold"
}
input{
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  appearance:none;
  border-radius: 0px;
  box-sizing: border-box;
  font-size:15px;
  font-weight: 550;
}
img[class="Desktop"]{
  display: block;
  width:300px;
}
img[class="Mobile"]{
  display: none;
}
#Banner{
  width:100%;
  height:80px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 1;
  box-shadow:1px 0px 5px rgb(0,0,0);
  background:white;
  display:-webkit-box;    
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left:10px;
  padding-right:10px;
  box-sizing:border-box;
  
}
#BannerExtra{
  height:80px;
}
#BannerImage{
  display:-webkit-box;  
  display:-webkit-flex;   
  display:-ms-flexbox;   
  display:flex; 
  flex-direction: row;
  justify-content: center;
  margin-bottom:20px;
}
#UmarketImg{
  width:150px;
}
#UmarketBanner{
  width:60%;
}
div{
  box-sizing: border-box;
}
.JoinBtn{
  font-family: "Calibri Bold";
  color:white;
  background:rgb(0,200,0);
  border:1px solid rgb(0,200,0);
  padding:5px;
  
}
.JoinBtn:hover{
  cursor:pointer;
  transform:translateY(-2px);
}

.LoginBtn{
  font-family: "Calibri Bold";
  color:rgb(0,200,0);
  background: white;
  border:1px solid rgb(0,200,0);
  padding:5px;
  cursor:pointer;
}
.LoginBtn:hover{
  transform:translateY(-2px);
}

[class="hidden module"]{
  transition:1s;
  transform:translateY(50%);
  opacity:0;  
}
[class="shown module"]{
  transition:1s;
  transform:translate(0,0);
  opacity:1;
}
#AboutUmarket,#UmarketBenefits,#CallToAction{
  font-size:20px;
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;    
  display:flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width:80%;
  border:1px solid rgb(0,200,0);
  position:relative;
  left:10%;
  padding:10px;
  overflow: hidden;
  margin: 0px;
  word-spacing:1.5px;
}
#UmarketBenefits,#CallToAction{
margin-top:100px;
 }

#AboutUmarket>div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#AboutUmarket>div div{
  max-width:50%;  
}

.Green{
  color:rgb(0,200,0);
  font-family: "Corbel Bold"
}
p{
  margin-bottom: 0px;
}

#UmarketBenefits>div{
  width:100%;
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;    
  display:flex; 
  flex-direction: row;
  align-items:center;
  justify-content: space-around
}
#UmarketBenefits>div:nth-child(1){
  margin-bottom: 10px;
}
#UmarketBenefits>div:nth-child(1) div{
 max-width:50%;
}
#UmarketBenefits>div:nth-child(2){
  align-items: stretch;
}
#UmarketBenefits>div:nth-child(2) div{
  border:1px solid rgb(0,200,0);
  padding:5px;
  width:33%;
  list-style-image: url('../Images/Umarket%20Icon.svg');
  list-style-position:outside;
}


#CallToAction{
   font-size:20px;
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;   
  display:flex; 
  flex-direction: column;
  border:1px solid rgb(0,200,0);
  position:relative;
  left:10%;
  padding:5px;
  margin-top:100px;
  overflow: hidden;
}
#CallToAction>div{
  display:-webkit-box;   
  display:-webkit-flex;   
  display:-ms-flexbox;
  display:flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items:center; 
  width:100%;
}
#CallToAction>div:nth-child(1)>div:nth-child(1){
  max-width:60%
}
#CallToAction div:nth-child(1) h1{
  margin:10px 0px 10px 0px;
}
#CallToAction>div:nth-child(2){
  height:160px;
  margin-top:10px;
  align-items: stretch;
  padding:10px;
}
#CallToAction>div:nth-child(2)>div{ 
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;    
  display:flex; 
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding:10px;
  width:30%;
  border:1px solid rgb(0,200,0);
  text-align: center;
  box-sizing: border-box;
}


@media screen and (max-width:700px){
  img[class="Desktop"]{
    display: none;
  }
  img[class="Mobile"]{
   display: block;
    width:50%;
    align-self: center;
  }
  #UmarketImg{
    width:120px;
  }
  #UmarketBanner{
    width:100%;
  }
  #Banner{
    height:100px; 
  }
  #BannerExtra{
    height:100px;
  }
  #Banner #CTA{
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height:70%
}
  [class='hidden module']{
    transform: translate(0%,30%);
  }
  .LoginBtn:first-child,.JoinBtn:first-child{
    width:100%
  }
  h1{
    line-height: 100%;
    font-size:30px;
    margin:0px 0px 5px 0px !important;
  }
  p{
    margin-top:0px;
  }
  #AboutUmarket,#UmarketBenefits,#CallToAction{
    position: static;
    width:100%;
    border:1px solid rgb(0,200,0);
    font-size:20px;
    padding:5px;
  }
  #UmarketBenefits,#CallToAction{
    margin-top:50px;
 }
  #AboutUmarket>div{
    flex-direction: column;
    align-items:flex-start;
    width:100%
  }
  #AboutUmarket>div div:nth-child(1){
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction:column;
    max-width:100%;
  }
  #UmarketBenefits>div{
    flex-direction:column;
    width:100%;
    align-items:center;
    justify-content: space-around;
  }
  #UmarketBenefits>div:nth-child(1) div:nth-child(1){
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction: column;
    width:100%;
    max-width:100%;
  }
  #UmarketBenefits>div:nth-child(1) div:nth-child(1) div{
    width:100%;
  }
  #UmarketBenefits>div:nth-child(2) div{
    margin-bottom: 10px;
    width:100%
  }

  #CallToAction>div{
    flex-direction:column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
  }
  #CallToAction>div:nth-child(1)>div:nth-child(1){
    display:-webkit-box;   
    display:-webkit-flex;   
    display:-ms-flexbox;
    display:flex; 
    flex-direction: column;
    max-width:100%;
  }
  #CallToAction>div:nth-child(2) {
    margin-top:20px;
    height:400px;
    align-items: center;
    justify-content: space-around;
   
  }
  #CallToAction>div:nth-child(2)>div{
    height:150px;
    width:90%;
    justify-content: space-around;
  }
  
}
@media screen and (max-width:700px) and (orientation:landscape){
  img[class="Desktop"]{
    display: block;
    width:150px;
  }
  img[class="Mobile"]{
    display: none;
  }
  #UmarketBanner{
    display:block;
    width:80%;
  }
  #UmarketImg{
    display: block;
    width:150px
  }
  #AboutUmarket,#UmarketBenefits,#CallToAction{
     position: relative;
     left:2.5%;
     width:95%;
     font-size:20px;
     border:0px;
     padding: 1px;
  }
  #AboutUmarket>div>div, #UmarketBenefits>div:nth-child(1)>div,#CallToAction>div:nth-child(1)>div{
    max-width:70% !important;
  }
  #AboutUmarket>div{
    flex-direction: row;
    align-items: center;
  }
  #UmarketBenefits>div:nth-child(1){
    flex-direction: row;
  }
  #UmarketBenefits>div:nth-child(2) div{
    width:100%;
  }
  #CallToAction>div:nth-child(1){
    flex-direction: row;
  }
  #CallToAction>div:nth-child(2) {
    flex-direction: row;
    justify-content: space-around;  
    height: 170px;
  }
  #CallToAction>div:nth-child(2)>div{
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    align-self: stretch;
    width:40%
  }
}
@media screen and (min-width:700px) and (max-width:999px){
  img[class="Desktop"]{
    display: block;
    width:200px;
}
  img[class="Mobile"]{
  display: none;
}
  #UmarketImg{
    width:150px;
  }
  #UmarketBanner{
    width:80%;
  }
  #AboutUmarket,#UmarketBenefits,#CallToAction{
    width:99%;  
    left:0.5%;
    font-size:15px;
  }
  #CallToAction>div:nth-child(2) div{
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;   
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    width:40%;
    border:1px solid rgb(0,200,0);
    text-align: center;
}

}