@font-face{
  font-family:'Calibri';
  src:
    url("../Fonts/Calibri.ttf") format('truetype'),    
    url("../Fonts/Calibri.woff") format("woff"),
    url("../Fonts/Calibri.woff2") format("woff2"),
    url("../Fonts/Calibri.eot") format("embedded-opentype");
}
@font-face{
  font-family:'Calibri Bold';
  src:
    url("../Fonts/Calibri Bold.ttf") format("truetype"),
    url("../Fonts/Calibri Bold.woff") format("woff"),
    url("../Fonts/Calibri Bold.woff2") format("woff2"),
    url("../Fonts/Calibri Bold.eot") format("embedded-opentype"),
    url("../fonts/Calibri Bold.otf") format("opentype");
}
*{
  font-family:"Calibri"
}
h1,h2,h3,h4,h5{
  color:rgb(0,200,0);
  font-family: "Calibri Bold"
}
input{
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  appearance:none;
  border-radius: 0px;
  box-sizing: border-box;
  font-size:15px;
  font-weight: 550;
}
img[class="Desktop"]{
  display: block;
  width:300px;
}
img[class="Mobile"]{
  display: none;
}
img[class="Tablet"]{
  display: none;
}
#Banner{
  width:100%;
  height:80px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 1;
  box-shadow:1px 0px 5px rgb(0,0,0);
  background:white;
  display:-webkit-box;    
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left:10px;
  padding-right:10px;
  box-sizing:border-box;
  
}
#BannerExtra{
  height:80px;
}
#BannerImage{
  display:-webkit-box;  
  display:-webkit-flex;   
  display:-ms-flexbox;   
  display:flex; 
  flex-direction: row;
  justify-content: center;
  padding:20px;
}
#UmarketImg{
  width:180px;
}
#UmarketBanner{
  width:700px;
}

div{
  box-sizing: border-box;
}
.JoinBtn{
  font-family: "Calibri Bold";
  color:white;
  background:rgb(0,200,0);
  border:1px solid rgb(0,200,0);
  padding:5px;
  
}
.JoinBtn:hover{
  cursor:pointer;
  transform:translateY(-2px);
}

.LoginBtn{
  font-family: "Calibri Bold";
  color:rgb(0,200,0);
  background: white;
  border:1px solid rgb(0,200,0);
  padding:5px;
  cursor:pointer;
}
.LoginBtn:hover{
  transform:translateY(-2px);
}

[class="hidden module"]{
  transition:1s;
  transform:translate(0%,50%);
  opacity:0;  
}
[class="shown module"]{
  transition:1s;
  transform:translate(0,0);
  opacity:1;
}
#AboutUmarket,#UmarketBenefits,#CallToAction{
  font-size:17px;
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;    
  display:flex; 
  flex-direction: column;
  justify-content: space-around;
  width:80%;
  border:1px solid rgb(0,200,0);
  position:relative;
  left:10%;
  padding:10px;
  overflow: hidden;
  margin: 0px;
  word-spacing:1.5px;
}
#UmarketBenefits,#CallToAction{
margin-top:100px;
 }

#AboutUmarket>div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#AboutUmarket>div div{
  max-width:50%;  
}
.Green{
  color:rgb(0,200,0);
  font-family: "Calibri Bold"
}
p{
  margin-bottom: 0px;
}
#UmarketBenefits>div{
  width:100%;
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;    
  display:flex; 
  flex-direction: row;
  align-items:center;
  justify-content: space-around
}
#UmarketBenefits>div:nth-child(1){
  margin-bottom: 10px;
}
#UmarketBenefits>div:nth-child(1) div{
 max-width:50%;
}
#UmarketBenefits>div:nth-child(2){
  align-items: stretch;
}
#UmarketBenefits>div:nth-child(2) div{
  border:1px solid rgb(0,200,0);
  padding:5px;
  width:33%;
  list-style-image: url('../Images/Umarket%20Icon.svg');
  list-style-position:outside;
}


#CallToAction{
   font-size:20px;
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;   
  display:flex; 
  flex-direction: column;
  border:1px solid rgb(0,200,0);
  position:relative;
  left:10%;
  padding:5px;
  margin-top:100px;
  overflow: hidden;
}
#CallToAction>div{
  display:-webkit-box;   
  display:-webkit-flex;   
  display:-ms-flexbox;
  display:flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items:center; 
  max-width:100%;
}
#CallToAction>div:nth-child(1)>div:nth-child(1){
  max-width:60%
}
#CallToAction div:nth-child(1) h1{
  margin:10px;
}
#CallToAction>div:nth-child(2){
  height:160px;
  margin-top:10px;
  align-items: stretch;
  padding:10px;
}
#CallToAction>div:nth-child(2)>div:nth-child(1),#CallToAction>div:nth-child(2)>div:nth-child(3){ 
  display:-webkit-box;    
  display:-webkit-flex;    
  display:-ms-flexbox;    
  display:flex; 
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding:10px;
  width:40%;
  border:1px solid rgb(0,200,0);
  text-align: center;
  box-sizing: border-box;
}


@media screen and (max-width:700px){
  img[class="Desktop"]{
    display: none;
  }
  img[class="Mobile"]{
    display: block;
    width:250px;
  }
  img[class="Tablet"]{
  display:none;  
  }
  #UmarketBanner{
    width:300px;
  }
  #UmarketImg{
    width:120px;
  }
  #Banner{
    height:100px; 
  }
  #Banner #CTA{
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height:70%
}
  [class='hidden module']{
    transform: translate(0%,20%);
  }
  .LoginBtn:first-child,.JoinBtn:first-child{
    width:100%
  }
  h1{
    line-height: 100%;
    font-size:30px;
  }
  #AboutUmarket,#UmarketBenefits,#CallToAction{
    position: static;
    width:100%;
    border:0px;
    font-size:20px;
    padding:1px;
  }
  #UmarketBenefits,#CallToAction{
    margin-top:50px;
 }

  #AboutUmarket>div{
    flex-direction: column;
    align-items: stretch;
    width:100%
  }
  #AboutUmarket>div div:nth-child(1){
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction:column;
    max-width:100%;
    align-items:center;
  }
  
  #UmarketBenefits>div{
    flex-direction:column;
    width:100%;
    align-items:center;
    justify-content: space-around;
  }
  #UmarketBenefits>div:nth-child(1) div:nth-child(1){
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width:100%;
  }
  #UmarketBenefits>div:nth-child(1) div:nth-child(1) div{
    width:100%;
  }
  #UmarketBenefits>div:nth-child(2) div{
    margin-bottom: 10px;
    width:100%
  }

  #CallToAction>div{
    flex-direction:column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
  }
  #CallToAction>div:nth-child(1)>div:nth-child(1){
    display:-webkit-box;   
    display:-webkit-flex;   
    display:-ms-flexbox;
    display:flex; 
    flex-direction: column;
    max-width:100%;
    align-items: center;
  }
  #CallToAction>div:nth-child(2) {
    margin-top:20px;
    height:100%;
    align-items: center;
  }
  #CallToAction>div:nth-child(2)>div:nth-child(1),#CallToAction>div:nth-child(2)>div:nth-child(3){
    width:90%;
  }
  
}
@media screen and (max-width:700px) and (orientation:landscape){
   img[class="Desktop"]{
    display: none;
  }
  img[class="Mobile"]{
    display: none;
  }
  img[class='Tablet']{
    display: block;
    width:200px;
  }
   [class='hidden module']{
    transform: translate(0%,10%);
  }
  #UmarketBanner{
    width:400px;
  }
  #UmarketImg{
    width:150px
  }
  #AboutUmarket,#UmarketBenefits,#CallToAction{
   position: relative;
   left:2.5%;
   width:95%;
   font-size:20px;
  }
  #UmarketBenefits>div:nth-child(2) div{
    width:100%;
  }
  #CallToAction>div:nth-child(2) {
    flex-direction: row;
    justify-content: space-around;  
    align-items: stretch;
  }
  #CallToAction>div:nth-child(2)>div:nth-child(1),#CallToAction>div:nth-child(2)>div:nth-child(3){
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;    
    display:flex; 
    flex-direction: column;
    justify-content: center;
    width:40%
  }
}
@media screen and (min-width:700px) and (max-width:999px){
  img[class="Desktop"]{
    display: block;
    width:250px;
}
  img[class="Mobile"]{
  display: none;
}
  img[class="Tablet"]{
  display: none;
}
  #UmarketImg{
    width:180px;
  }
  #UmarketBanner{
    width:500px;
  }
 
  #AboutUmarket,#UmarketBenefits,#CallToAction{
    width:95%;  
    left:1.5%;
    font-size:15px;
  }
  #CallToAction>div:nth-child(2) div:not(div:nth-child(2)){
    display:-webkit-box;    
    display:-webkit-flex;    
    display:-ms-flexbox;   
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    width:40%;
    border:1px solid rgb(0,200,0);
    text-align: center;
}

}