@font-face{
  font-family:'Calibri';
  src:
    url("../Fonts/Calibri.ttf") format('truetype'),    
    url("../Fonts/Calibri.woff") format("woff"),
    url("../Fonts/Calibri.woff2") format("woff2"),
    url("../Fonts/Calibri.eot") format("embedded-opentype");
}
@font-face{
  font-family:'Calibri Bold';
  src:
    url("../Fonts/Calibri Bold.ttf") format("truetype"),
    url("../Fonts/Calibri Bold.woff") format("woff"),
    url("../Fonts/Calibri Bold.woff2") format("woff2"),
    url("../Fonts/Calibri Bold.eot") format("embedded-opentype"),
    url("../fonts/Calibri Bold.otf") format("opentype");
}
@font-face{
  font-family:"Corbel";
  src:
    url('../Fonts/Corbel.ttf') format('truetype'),
    url('../Fonts/Corbel.woff') format('woff'),
    url('../Fonts/Corbel.woff2') format('woff2'),
    url('../Fonts/Corbel.eot') format('embedded-opentype'),
    url('../Fonts/Corbel.otf') format('opentype');
    
}
@font-face{
  font-family:"Corbel Bold";
  src:
    url('../Fonts/Corbel Bold.ttf') format('truetype');
}
h1,h2,h3,h4,h5{
  color:rgb(0,200,0);
  font-family:"Corbel Bold"
}
img[class="Desktop"]{
  display: block;
}
img[class="Mobile"]{
  display: none;
}
img[class="Tablet"]{
  display: none;
}
#UmarketImg{
  width:150px
}
#Banner{
  width:100%;
  height:80px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 1;
  box-shadow:1px 0px 5px rgb(0,0,0);
  background:white;
  display:-webkit-box;
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex; 
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left:10px;
  padding-right:10px;
  box-sizing:border-box;
}
#BannerExtra{
  height:80px;
}
#UmarketBanner{
  width:800px;
}

div{
  box-sizing: border-box;
}
input,select{
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  appearance:none;
  border:1px solid;
  border-radius: 0px;
  text-align: center;
  text-align:-webkit-center;
  text-align:-ms-center;
  text-align:-moz-center;
  cursor:pointer;
  box-sizing: border-box;
  font-size:100%;
  font-family: "Calibri"
}
input[class='Invalid'],select[class='Invalid']{
  border:2px solid rgb(255,0,0);
}
input[class='Valid'],select[class='Valid']{
  border:2px solid rgb(0,200,0);
}
#LoginBtn{
  font-family: "Calibri Bold";
  color:rgb(0,200,0);
  background: white;
  border:1px solid rgb(0,200,0);
  padding:5px;
  cursor:pointer;
  width:100%;
}
#LoginBtn:hover{
  transform:translateY(-2px);
}
.locked{
  cursor: not-allowed !important;
  opacity: 0.5;
}

#MainContent{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex; 
  flex-direction:column;
  align-items:center;
  flex-basis: 100%;
  font-size:100%;
}
#AccountType{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex; 
  flex-direction: row;
  justify-content: space-around;
  width:50%;
  font-family: "Calibri Bold";
}
#AccountType>div{
  border:1px solid rgb(0,200,0);
  padding:5px;
  width:50%;
  margin:5px;
  text-align: center;
  color:rgb(0,200,0);
  transition:0.5s;
  -moz-transition:0.5s;
  -web-transition:0.5s;
  -ms-transition:0.5s;
  font-size: 120%
}
#AccountType>div:hover{
  cursor:pointer;
}
#AccountType>div.selected{
  background:rgb(0,200,0) !important;
  color:rgb(255,255,255);
}
#AccountType>div.unselected {
  background: white;
  color:rgb(0,200,0);
}
.Green{
  color:rgb(0,200,0);
  font-family: "Calibri Bold";
}

#Form{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex;
  flex-direction: column;
  align-items:center;
  border:1px solid rgb(0,200,0);
  padding:10px;
  width:50%;
  box-sizing: border-box;  
}
#Form[class='hidden']{
  display: none;
}
#Form[class='shown']{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex;
}
form>div:last-child{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex;
  align-items: center;
  column-gap: 10px;
  font-family: "Calibri Bold";
  color:rgb(0,200,0);
}
legend{
  font-size:18px;
  color:rgb(0,200,0);
}
fieldset{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex; 
  flex-direction: column;
  align-items:stretch;
  border:1px solid rgb(0,0,0);
  margin-bottom:20px;
  color:rgb(0,200,0);
  box-sizing: border-box;
  width:100%;
  font-size: 110%;
  font-family: "Calibri Bold"
}
fieldset[class='shown']{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex;
}
fieldset[class='hidden']{
  display:none;
}
fieldset>div{
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex; 
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
  margin-bottom:10px;
  word-wrap: break-word;
  font-size:100%;
}
fieldset>div>div:nth-child(2){
  width:60%;
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex; 
  flex-direction: column;
}
fieldset input, fieldset select{
  height:40px;
  width:100%;
  text-align: left;
  padding-left:20px !important;
  color:rgb(0,200,0);
  border:1px solid rgb(0,0,0);
  padding: 0px;
  box-sizing: border-box;
  background:rgb(245,245,245);
}

.HelpTip{
  font-family:"Calibri";
  display: block;
  
}
.error{
  color: rgb(255,0,0);
}
#SubmitBtn{
  font-family: "Calibri Bold";
  height:40px;
  font-size:110%;
  color:rgb(0,200,0);
  background:white;
  border:1px solid rgb(0,200,0);
  transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -webkit-transition:0.5s;
}
#SubmitBtn:hover{
  cursor:pointer;
  background:rgb(0,200,0);
  color:white;
}
#SubmitBtn.hidden{
  display: none;
}
#LoadingImg{
  display: block;
  animation-name: Loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  align-self: center;
  height:30px;
}
.hidden{
  display: none !important;
}
@keyframes Loading{
  to{
    transform: rotateZ(360deg)
  }
}

@media screen and (max-width:700px){
  #UmarketImg{
    width:120px;
  }
  #UmarketBanner{
    width:100%;
  }
  #AccountType{
    width:100%
  }
  #AccountType div{
    height:50px;
    display:-webkit-box; 
    display:-webkit-flex; 
    display:-ms-flexbox; 
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size:100%;
  }
  #Form{
    width:100%
  }
  fieldset{
    font-size:100%;
  }
  fieldset>div>div:nth-child(2){
   min-width:190px;
  
  }
  fieldset input, fieldset select{
   width:100%;
  }
}
@media screen and (orientation:landscape) and (max-width:700px){
  #UmarketImg{
    width:150px;
  }
  #UmarketBanner{
    width:80%;
  }
  #AccountType{
    width:80%;
  }
  #AccountType div{
    height:30px;
    font-size:100%
  }
  fieldset{
    font-size:100%;
  }
  fieldset>div>div:nth-child(2){
   min-width:50%;
  }
  fieldset input, fieldset select{
    width:100%;
  }
}
@media screen and (min-width:700px) and (max-width:999px){
  #UmarketBanner{
    width:80%;
  }
  #AccountType{
    width:80%
  }
  #Form{
    width:80%;
  }
  fieldset input, fieldset select{
    width:100%
  }
}

