@font-face{
  font-family:'Calibri';
  src:
    url("../Fonts/Calibri.ttf") format('truetype'),    
    url("../Fonts/Calibri.woff") format("woff"),
    url("../Fonts/Calibri.woff2") format("woff2"),
    url("../Fonts/Calibri.eot") format("embedded-opentype");
}
@font-face{
  font-family:'Calibri Bold';
  src:
    url("../Fonts/Calibri Bold.ttf") format("truetype"),
    url("../Fonts/Calibri Bold.woff") format("woff"),
    url("../Fonts/Calibri Bold.woff2") format("woff2"),
    url("../Fonts/Calibri Bold.eot") format("embedded-opentype"),
    url("../fonts/Calibri Bold.otf") format("opentype");
}
@font-face{
  font-family:"Corbel";
  src:
    url('../Fonts/Corbel.ttf') format('truetype'),
    url('../Fonts/Corbel.woff') format('woff'),
    url('../Fonts/Corbel.woff2') format('woff2'),
    url('../Fonts/Corbel.eot') format('embedded-opentype'),
    url('../Fonts/Corbel.otf') format('opentype');
    
}
@font-face{
  font-family:"Corbel Bold";
  src:
    url('../Fonts/Corbel Bold.ttf') format('truetype');
}
h1,h2,h3,h4,h5{
  color:rgb(0,200,0);
  font-family: "Corbel Bold"
}
input{
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  appearance:none;
  border-radius: 0px;
  box-sizing: border-box;
  font-size:15px;
  font-weight: 550;
}
img[class="Desktop"]{
  display: block;
  width:300px;
}
img[class="Mobile"]{
  display: none;
}
img[class="Tablet"]{
  display: none;
}
#Banner{
  width:100%;
  height:80px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 1;
  box-shadow:1px 0px 5px rgb(0,0,0);
  background:white;
  display:-webkit-box;    
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left:10px;
  padding-right:10px;
  box-sizing:border-box;
  
}
#BannerExtra{
  height:80px;
}
#BannerImage{
  display:-webkit-box;  
  display:-webkit-flex;   
  display:-ms-flexbox;   
  display:flex; 
  flex-direction: row;
  justify-content: center;
  margin-bottom:20px;
}
#UmarketImg{
  width:150px;
}
#UmarketBanner{
  width:60%;
}
div{
  box-sizing: border-box;
}
