*{
  font-family:"Calibri";
  font-size: 15px;
}
#box{
  width:500px;
  height:500px;
  overflow-y: scroll;
  overflow-x: scroll;
  border:3px solid rgb(0,200,0);
/*  border-radius: 100%;*/
}
#box::-webkit-scrollbar{
  display: none;
}
#box::-ms-scrollbar{
  display: none;
}
#box::-moz-scrollbar{
  display: none;
}
img{
  width:110%;
}
input[type='checkbox']{
  border:1px solid rgb(0,200,0);
  width:20px;
  height:20px;
  align-self: center;
  color:white;
  cursor: pointer;
  appearance:none;
  margin: 0px 2px 0px 0px;
}
input[type='checkbox']:checked{
  background-image: url('../Images/Checked.svg');
}