*{
  font-family:"Calibri";
  font-size: 15px;
}
#Name{
  height:40px;
  width:300px;
  border:1px solid rgb(0,200,0);
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  text-align: center;
}